<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link type="image/png" href="https://www.wix.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="<%= clientTopology.staticsBaseUrl %>app<% if (!debug) { %>.min<% } %>.css">
    <script src="https://<%= clientTopology.staticsDomain %>/polyfill/v2/polyfill<% if (!debug) { %>.min<% } %>.js?features=default,es6,es7,es2017&flags=gated&unknown=polyfill&rum=0"></script>
    <script src="https://<%= clientTopology.staticsDomain %>/unpkg/react@16.6.3/umd/react.development.js"></script>
    <script src="https://<%= clientTopology.staticsDomain %>/unpkg/react-dom@16.6.3/umd/react-dom.development.js"></script>
  </head>
  <body>
    <div id="root"><%- appHtml %></div>
    <script>
      window.__BASEURL__ = '<%= basename %>';
      window.__INITIAL_I18N__ = <%- serialize({locale, resources: i18nResources}, {isJSON: true}) %>
    </script>
    <script src="<%= clientTopology.staticsBaseUrl %>app.bundle<% if (!debug) { %>.min<% } %>.js"></script>
  </body>
</html>
